.puzzle-sectino {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .puzzle {
    width: 40rem;
    height: 60rem;

    &__board {
      width: 40rem;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #6d6875;
      border: 5px solid #f0e6ef;
      position: relative;

      span {
        font-size: 4rem;
        color: #f0e6ef;
      }
    }

    &__equations {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2rem;
      color: #fff;
    }

    &__answer {
      margin-top: 2rem;

      input {
        width: 100%;
        padding: 1rem;

        &.incorrect {
          border: 1px solid #f00;

          &::placeholder {
            color: #f00;
          }
        }
      }
    }
  }
}
