*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
}

button, input {
  border: 0;
  outline: none;
  cursor: pointer;
}
